body {
  background-color: #10A19D
}

h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font: 100px "Monaco", monospace;
  font-style: italic;
  color: #10A19D;
  text-align: center;
}


marquee {
  font-family: "Montserrat-black"

}

h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font: 30px "Monaco", monospace;
  font-style: italic;
  color: white;
  text-align: center;
}



h3 {
color: white;
}

li {
  color: white;
}



h4 {
  font-style: italic;
  font: 50px "Monaco", monospace;
  text-align: center;
  color: white;
}

u {
  color: white;
}




hr {
  border-style: none;
  border-top-style:  dashed;
  border-color: white;
  border-width: 30px;
  width: 60%
}

p {
  color: white;
}





.box1 {
  width: 100%;
  height: 10%;
}

.top {
  position: absolute;
  top: 1%;
  height: 5%;
  width: 100%;
  text-align: right;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 90px "Monaco", monospace;
  background-color: inherit;
}

.mid {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 70px "Monaco", monospace;
  font-style: italic;
  color: #111;
  text-align: center;
}

.food {
  margin-left: 0.5px;
  margin-top: 0.1px;
  letter-spacing: 1px;
  font: 70px "Monaco", monospace;
  font-style: italic;
}

.F1 {
  background-color: inherit;
  height: 200px;
  position: relative;
}

.kk-input {
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.tt{
  padding-top: 20px;
  padding-bottom: 20px;
}
.location {
  position: absolute;
  top: 10px;
}
